@using CarRent.Web.Models.ViewModels
@model NewVehicle

@{
    ViewBag.Title = "CreateGet";
}

<h2>New Vehicle</h2>


@using (Html.BeginForm("CreatePost", "Vehicle", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Vehicle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.LabelFor(m => m.Type)
                <br/>
                @Html.DropDownListFor(m => m.Type, EnumHelper.GetSelectList(typeof(VehicleType)), "Select Type")
            </div>
            <div class="col-md-offset-2 col-md-10">
                @Html.LabelFor(m => m.RegistrationNo)
                <br />
                @Html.TextBoxFor(m => m.RegistrationNo)
            </div>
            <div class="col-md-offset-2 col-md-10">
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
